@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
  height: 100%;
  --sidecolor: rgb(240, 249, 255);
  --maincolor: white; 
  font-size: 12px;
}

 * {
  font-family: Poppins;
 }

body {
  min-height: 100vh;
  margin: 0;
}

.container {
  min-height: 100vh;
  display: flex;
}

/*structure for left sidebar*/
body .container > :first-child {
  background-color: var(--sidecolor);
  flex: 2.5 2.5; 
}

/*styling for left-sidebar*/ 

.left {
  display: flex;
  flex-direction: column;
}

/*logo section*/
.left .logo {
  flex: 1 1 auto; 
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.left .logo img {
  width: 7.2rem;
}

.logo h2 {
  display: flex;
  font-size: 2.2rem;
}

.logo h2 span {
  color: #4dc3ee;
}

/*top button section*/
.left div:nth-child(2) {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
}

.buttons.top > * {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--sidecolor); 
  width: 100%;
  gap: 0.65rem;
  border-style: none;
}

.buttons.top h3 {
  font-size: 1.2rem;
  margin-top: 1.25rem;
}

.buttons.top svg {
  width: 2.5rem;
}

.right-arrow {
  width: 1rem;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

/*content section*/
.left section:nth-child(3) {
  flex: 6 6 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.left section div {
  width: 77%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  background-color: var(--maincolor);
  border-radius: 0.8rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.left section div img {
  width: 70%;
  height: 60%;
}

.box button{
  width: 10rem;
  background-color:#4dc3ee;
  color: white;
  font-weight: bold;
  border-radius: 1rem;
  border-style: none;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/*bottom button section*/
.left div:nth-child(4) {
  flex: 5 5 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2.5rem;
}

.buttons.bottom > * {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--sidecolor);
  gap: 0.65rem;
  border-style: none;
}

.buttons.bottom h3 {
  display: flex;
  font-size: 1.2rem;
  padding: 0;
  margin-top: 1.25rem;
  width: 40%;
}

.buttons.bottom svg {
  width: 2.5rem;
}

.h-6.w-6 {
  width: 3rem !important;
}

/*structure for main content*/
body .container > :nth-child(2) {
  background-color: var(--maincolor);
  flex: 10 10;
  padding: 1rem 2rem 1rem 2rem;
  display: flex;
  flex-direction: column;
}


/*upmost top section of main content*/
main header {
  flex: 0.5 0.5 auto; 
  border: 2px solid red;
  display: flex;
}

header > * {
  flex: 1 1 auto;
  border: 2px solid green;
}

header .left-display {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.left-display p {
  font-size: 4rem;
  font-weight: bold;
}

.left-display .percentage {
  font-size: 1.5rem;
  margin-left: 1rem; 
  margin-right: 0.5rem;
}

.left-display img {
  border: 2px solid red;
}

.left-display div {
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid red;
}

header .right-display {
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  justify-content: flex-end;
  align-items: center;
}


/*remove margin and padding*/
main header .left-display > * {
  margin: 0;
  padding: 0;
}

.amount .left-display img{
  height: 2rem;
}

/*information section*/
.info {
  border: 1px solid green;
  display: flex;
}

.info > * {
  border: 1px solid black;
  flex: 1 1 auto;
}

.left-info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.25rem;
  gap: 1rem;
}

.right-info {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1.2rem;
}

.right-info > * {
  width: 5rem;
  height: 2rem;
}

/* need to import stuff here later*/
main .big-chart{
  border: 2px solid green;
  position: relative;
  height: 35vh;
  width: 60vw;
}

/*box-messages*/ 
.box-messages {
  flex: 5 5;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-top: 2.5rem;
}

.box-messages > * {
  border: 2px solid red;
  border-radius: 0.5rem; 
  display: flex;
  flex-direction: column;
}

/*remove default margin and padding from h2/h5*/
.label h2,
.label h5 {
  margin: 0;
  padding: 0;
}

.binance > *,
.bitcoin > *, 
.ethereum > *,
.pipercoin > * {
  display: flex;
  margin-left: 1.5rem;
}

.top-2 {
  flex: 1 1 auto;
  display: flex; 
  gap: 0.8rem;
  margin-top: 1rem;
}

.top-2 .rep {
  border: 2px solid black;
  flex: 0.5 0.5 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.2rem;
}

.top-2 .rep svg {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0;
  margin: 0;
}


.top-2 .label {
  flex: 5 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-2 .label h2 {
  font-weight: bolder;
  font-size: 1.3rem;
}

.top-2 .label h5 {
  font-weight: bold;
  color: grey;
  margin-left: 0.1rem;
}

.mid-2 {
  flex: 4.5 4.5 auto;
  display: flex;
  align-items: flex-end;
  padding-bottom: 1rem;
}

.mid-2 p {
  padding: 0.2rem 1rem 0.2rem 1rem;
  border: 2px solid green;
  border-radius: 1rem;
  text-align: center;
  margin: 0;
} 

.mid-2 svg {
  height: 2rem;
}

.bot-2 {
  flex: 0.5 0.5 auto;
  margin: 0 0 0 1.5rem;
}

.bot-2 p {
  font-size: 1.5rem;
  font-weight: bolder;
  margin: 0;
  margin-left: 0.1rem;
}

.box-messages .binance {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.box-messages .bitcoin {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.box-messages .pipercoin{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.box-messages .ethereum {
  grid-column: 2 / 3;
  grid-row: 2 / -1;
}

.box-messages .message-box {
  grid-column: 3 / -1;
  grid-row: 1 / -1;
}

/*structure for right sidebar*/
body .container > :last-child {
  background-color: var(--sidecolor);
  flex: 3.5 3.5 auto; 
}