:root {
  height: 100%;
  --sidecolor: rgb(226, 232, 240);
  --maincolor: rgb(244, 244, 245);
}

body {
  min-height: 100vh;
  margin: 0;
}

.container {
  height: 100vh;
  display: flex;
}

/*structure for left sidebar*/
body .container > :first-child {
  background-color: var(--sidecolor);
  flex: 3; 
}

/*styling for left-sidebar*/

/*structure for main content*/
body .container > :nth-child(2) {
  background-color: var(--maincolor);
  flex: 11;
  border: 2px solid magenta;
}

/*structure for right sidebar*/
body .container > :last-child {
  background-color: var(--sidecolor);
  border: 2px solid blue;
  flex: 4; 
}

